@let tasksLocal = taskService.tasks();

@if(taskService.loading()) {
    <mat-spinner diameter="30" style="display: block; margin: auto;"></mat-spinner>
} @else {
    <div class="container">
        @for(task of tasksLocal; track task.id) {
            <mat-card class="task-card">
                <mat-card-content>
                    <div class="task-header">
                        <h3>{{task.title}}</h3>
                        <div>
                            <app-add-task [task]="task" style="margin-right: 10px;"></app-add-task>
                            <app-delete-task [task]="task"></app-delete-task>
                        </div>
                    </div>
                    <p>{{task.description}}</p>
                </mat-card-content>
            </mat-card>
        }
    </div>
}

