<h2 mat-dialog-title>
    <mat-icon style = "margin-right: 3px;">add_task</mat-icon>
    <span >Add Task</span>
</h2>
<mat-dialog-content>
        <mat-form-field style="width: 100%">
            <mat-label>Nombre de la tarea</mat-label>
            <input matInput [formControl]="taskFormGroup.controls.title">
            @if(taskFormGroup.controls.title.hasError('required')) {
                <mat-error>El titulo es requerido</mat-error>
            }
        </mat-form-field>

        <mat-form-field style="width: 100%">
            <mat-label>Descripccion de la tarea</mat-label>
            <textarea matInput [formControl]="taskFormGroup.controls.description"></textarea>
            @if(taskFormGroup.controls.description.hasError('required')) {
                <mat-error>La descripcion es requerido</mat-error>
            }
        </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    @if(loading()) {
        <button mat-flat-button [disabled]="true" style="display: flex; align-items: center; justify-content: center;">
            <mat-spinner diameter="30"></mat-spinner>
        </button>
    }@else {
        <button mat-flat-button  (click)="handleAddTask()" [disabled]="!taskFormGroup.valid">
            <mat-icon>add</mat-icon>Guardar
        </button>
    }
</mat-dialog-actions>